<div data-controller="sileo-trigger"
     data-sileo-trigger-title-value="Server notification!"
     data-sileo-trigger-state-value="success"
     data-sileo-trigger-description-value="This was triggered from Ruby!"></div>
